.shapeTop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shapeTop svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 141px;
}

.shapeFill {
    fill: #ffff;
}